<!doctype html>
<html>

<head>
    <style type="text/css">
        @import url('index.css');
    </style>
    <title>Newton Flix</title>
    <link rel="shortcut icon" href="nf_ico.png" />
    <link rel="icon" href="nf_ico.png" type="image/png" />
    <div class="headerdiv" align=center>
        <img src="nf_banner.png" />
    </div>
</head>

<body>


</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="search.js" type='text/babel'></script>